[submodule "exercises"]
	path = java8-lambdas-exercises
	url = https://github.com/tonybaines/java8-lambdas-exercises.git
[submodule "java8-lambdas-exercises-answers"]
	path = java8-lambdas-exercises-answers
	url = https://github.com/tonybaines/java8-lambdas-exercises.git
	branch = answers
